# ==== Flask basics ====
SECRET_KEY=change-me-in-prod
SESSION_DAYS=30

# ==== Database (used by forum/app/config.py) ====
DB_DSN=postgresql://app_user:Strong_Pass_123@localhost:5432/leaders


# ==== Mail (MailHog in docker-compose) ====
MAIL_SERVER=mailhog
MAIL_PORT=1025
MAIL_USE_TLS=false
MAIL_USERNAME=aku03082015@gmail.com
MAIL_PASSWORD=srguaheersflckcu
MAIL_SENDER_NAME=Комиссия

# ==== App-specific ====
ADMIN_INVITE_CODE=dev-invite
